html {
    font-family: Open Sans;
}

h1 {
    font-family: "Open Sans";
    font-size: 44px;
    font-style: normal;
    font-variant: normal;
    margin-top: 50px;
    font-weight: 300;
    line-height: 26.4px;
    color: #707070;
}

h2 {
    font-family: "Open Sans";
    font-size: 24px;
    font-style: Semibold;
    font-variant: normal;
    font-weight: 800;
    line-height: 15.4px;
    color: #707070;
}

h3 {
    font-family: "Open Sans";
    font-size: 18px;
    font-style: Semibold;
    font-variant: normal;
    font-weight: 800;
    line-height: 15.4px;
    color: #707070;
}

mylabel {
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 2px;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color: #707070;
}

select {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 0px;
    padding-right: 30px;
    background-color: inherit;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color: #707070;
}

p {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 16px;
}

blockquote {
    font-family: "Open Sans";
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

button {
    background-color: #33A2DC;
    color: white;
    font-family: "Open Sans";
    font-size: 21px;
    font-style: Semibold;
    font-variant: Semibold;
    font-weight: 600;
    line-height: 30px;
    border: none;
    padding: 5px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.sliderlabelleft {
    float: right;
    display: inline-block;
    margin-right: 6px;
    margin-top: 12px;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: Semibold;
    font-variant: normal;
    font-weight: 800;
    color: #707070;
}

.sliderlabelright {
    float: right;
    display: inline-block;
    margin-right: 0px;
    margin-top: 12px;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: Semibold;
    font-variant: normal;
    font-weight: 800;
    color: #707070;
}

body {
    width: 90%;
    max-width: 1400px;
    min-width: 480px;
    margin: 0 auto;
    background-color: #F2F3F7;
}

.settingItem {
    height: 34px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    border: 1px solid #DFE1E8;
    padding: 5px;
    margin: 3px;
    overflow-x: auto;
}

.settingItemDoubleHeight {
    height: 78px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    border: 1px solid #DFE1E8;
    padding: 5px;
    margin: 3px;
    overflow-x: auto;
}

.switch {
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 31px;
}

.switch input {
    display: inline-block;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C7CAD5;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    /* bottom: 1px; */
    top: 2px;
    /* right: 1px; */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #33A2DC;
}

input:focus+.slider {
    box-shadow: 0 0 1px #33A2DC;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

.slidecontainer {
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    display: inline-block;
    width: 65%;
}

.sliderwithtextscontainer {
    float: right;
    margin-right: 10px;
    display: inline-flex;
    justify-content: flex-end;
    width: 60%;
}

/* The slider itself */
.scaler {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 3px;
    /* Specified height */
    background: #C7CAD5;
    /* Grey background */
    border-radius: 24px;
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.scaler:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.scaler::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    border-radius: 24px;
    width: 20px;
    /* Set a specific slider handle width */
    height: 20px;
    /* Slider handle height */
    background: #33A2DC;
    /* Blue background */
    cursor: pointer;
    /* Cursor on hover */
}

.scaler::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    border-radius: 24px;
    background: #04AA6D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}
